@import '~/css/core.light.css'; 

/*ActionBar {
    background-color:  #3C5AFD;
    color: white;
}*/

.header-cta {
    padding-top: 15;
}

button, label, stack-layout, grid-layout {
    horizontal-align: center;    
}

Button {
    height: auto;
    font-size: 36;
    width: 60%;
}

.title {
    font-size: 30;
    margin: 20;
}

.message {
    font-size: 20;
    color: #284848;
    text-align: center;
    margin: 0 20;
} 

.list-item {
    font-size: 18;
    padding-left: 10;
    padding-top: 5;
    padding-bottom: 5;
    horizontal-align: left;
    width: 100%;
    margin: 10;
}

.input-field {
    text-align: center;
    width: 80%;
}
