@import '~/css/core.light.css'; 

ActionBar {
    background-color:  #3C5AFD;
    color: white;
}

.header-cta {
    padding-top: 15;
}

button, label, stack-layout, grid-layout {
    horizontal-align: center;    
}

button {
    font-size: 28;
}

.title {
    font-size: 30;
    margin: 20;
}

.message {
    font-size: 20;
    color: #284848;
    text-align: center;
    margin: 0 20;
} 

.list-item {
    font-size: 16;
    horizontal-align: left;
    width: 100%;
    margin: 10;
}
